.Addbook-container{
    background-image: url('../../Assets/back 1.jpg');
    background-size: cover;
    background-position:100% 100%;
    height: 100vh;
    overflow: hidden;
}
.book-img img{
    width: 20%;
    position: absolute;
    top: 55%;
}
.profile-image img{
    width: 35%;
    position: relative;
    left: 70px;
    top: 20px;
}
.profile-image{
    background-color: #fff;
    border: 2px solid black;
    width: 18%;
    position: relative;
    top: 30px;
    height: 30vh;
    color: #fff;
    -webkit-text-stroke: 1px  black;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.profile-image h1{
    font-size: 1.8rem;
    position: relative;
    top: 1px;
    left: 20px;
    
}
.profile-image h2{
    font-size: 2rem;
    position: relative;
    top: -20px;
    left: 10px;
}
.Add-search img{
    width: 20px;
    position: relative;
    top: 5px;
}
.Add-search{
    display: flex;
    position: relative;
    left: 20%;
    margin-top: -140px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    border-radius: 20px;
    width: 25%;
    height: 4vh;
    padding: 10px;

}
.Add-search input{
    position: relative;
    left: 30%;
    top: -20px;
}
.Add-search input:focus{
    outline: none;
}
.Add-search input{
    border: none;
    
}
.date-cont{
    position: relative;
    top: -80%;
    left: 210%;
    background-color: rgba(244, 242, 242, 0.871);
    height: 15vh;
    padding-left: 15px;
    padding-right: 12px;
    border-radius: 30px;
    color: rgb(161, 154, 154);
    font-weight: 900;
    font-size: large;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.list-cont{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 2rem;
    position: relative;
    left: 50%;
    top: -80px;
    text-decoration: underline;
}
.item-cont{
    position: relative;
    left: 50%;
    top: -120px;
    background-color: #fff;
    border: 2px solid rgb(172, 166, 166);
    width: 10%;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.item-cont p{
    position: relative;
    left: -20px;
    font-size: 1.5rem;
}
.item-cont li{
    position: relative;
    top: -20px;
}
.item1-cont{
    position: relative;
    left: 65%;
    top: -120px;
    background-color: #fff;
    border: 2px solid rgb(172, 166, 166);
    width: 10%;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.item1-cont p{
    position: relative;
    left: -20px;
    font-size: 1.5rem;
}
.item1-cont li{
    position: relative;
    top: -20px;
}
